textarea {
    resize: none;
}


.section{
    padding: 30px;
}

.section__content{
    display: flex;
    padding: 20px;
    background-color: #F8F7F2;

}

.form{
    display: flex;
    flex-wrap: wrap;

}

.form__element{
    margin: 20px;
}

.control__element > button {
    width: 100%;
    height: 40px;
    margin: 5px 0;
}